::selection {
    background: #FF4F4F;
    color: white;
}

* {
    box-sizing: border-box;
}

a:link {
    color: rgb(10, 226, 215);
    text-decoration: none;
}

a:visited {
    color: rgb(10, 226, 215);
}

a:hover {
    color: #FF4F4F;
}

a:active {
    color: #b32020;
}

html {
    background: #161616;
    padding: 0;
    margin: 0;
    color: #cccccc;
    font-size: 15px;
    font-family: 'ariel', Sans-serif;
    list-style-position: inside;
}

body {
    height: 90vh;
    margin: 4vh 0 6vh 0;
}

.center {
    text-align: center;
}

main {
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-areas: 'projects next-actions waiting-for someday';
}

section {
    width: 95%;
    margin: 10px 2.5%;
    border: solid 4px;
    border-radius: 15px;
    height: 100%;
    min-height: 800px;
}

#projects-panel {
    grid-area: projects;
    border-color: rgb(235, 221, 30);
}

#next-tasks-panel {
    grid-area: next-actions;
    border-color: rgb(81, 219, 134);
}

#waiting-for-panel {
    grid-area: waiting-for;
    border-color: rgb(201, 60, 78);
}

#someday-panel {
    grid-area: someday;
    border-color: rgb(30, 153, 235);
}

.deadline {
    color: #ff8864;
}

/* #projects-panel:hover~section {
    display: none;
}

#next-actions-panel:hover~section {
    display: none;
}

#waiting-for-panel:hover~section {
    display: none;
}

#projects-panel:hover {
    grid-column-start: projects;
    grid-column-end: someday;
}

#next-actions-panel:hover {
    grid-column-start: next-actions;
    grid-column-end: someday;
}

#waiting-for-panel:hover {
    grid-column-start: waiting-for;
    grid-column-end: someday;
} */

h1 {
    font-size: 25px;
}

ul {
    margin-left: -25px;
}

li {
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:hover {
    white-space: normal;
    background-color: #6d4747;
}

.description-list {
    display: none;
}

li:hover+.description-list,
.description-list:hover {
    display: block;
    margin-bottom: 40px;
}

.project-name {
    color: rgb(235, 221, 30);
}

.highlight-project {
    background-color: #5c5c5c;
}